.ql-editor[data-v-6b7ecc7a]{box-sizing:border-box;block-size:100%;line-height:1.42;outline:none;overflow-y:auto;padding-block:12px;padding-inline:15px;tab-size:4;text-align:start;white-space:pre-wrap;word-wrap:break-word}
