// Write your overrides

body {
  background: rgb(var(--v-theme-background));
}

.v-field__outline {
  --v-field-border-opacity: 0.78 !important;
}

.v-field__input {
  opacity: inherit !important;
}

.v-label {
  opacity: inherit !important;
}

.v-card-subtitle {
  color: rgb(var(--v-theme-on-background));
}

.v-table.v-theme--light {
  color: #000 !important;
}

.list-square {
  font-size: 0.875rem !important;
  padding-block: 0;
  padding-inline: 6px !important;
  text-align: center !important;
}

.edit-link {
  color: rgb(var(--v-global-theme-primary)) !important;
  cursor: pointer;
  text-decoration: underline;
}

.edit-link:hover {
  font-weight: 900 !important;
}

.check-label {
  display: flex !important;
  flex-direction: column !important;
}

.check-label > .v-input__control {
  display: block !important;
}

.check-label > .v-input__control > .v-selection-control > .v-label {
  font-size: 0.85rem !important;
  font-weight: bold !important;
}

.check-label-container {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  vertical-align: middle;
}

th {
  font-weight: bold !important;
}

.v-table {
  --v-table-header-height: 48px !important;
}

.pg-cancel {
  background: linear-gradient(72.47deg, rgb(255, 70, 70) 22.16%, rgba(rgb(255, 70, 70), 0.7) 76.47%) !important;
  box-shadow: 0 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 20%)), 0 2px 2px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 14%)), 0 1px 5px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 12%)) !important;
  color: white !important;
}

.retry-realtime-deposit {
  background: linear-gradient(72.47deg, rgb(70, 113, 255) 22.16%, rgba(rgb(70, 113, 255), 0.7) 76.47%) !important;
  box-shadow: 0 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 20%)), 0 2px 2px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 14%)), 0 1px 5px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 12%)) !important;
  color: white !important;
}

// date Picker SCSS
.dp__theme_dark,
.dp__theme_light {
  --dp-border-color-hover: rgb(var(--v-global-theme-primary)) !important;
  --dp-border-color: rgb(var(--v-border-color)) !important;
  --dp-background-color: rgb(var(--v-theme-surface)) !important;
  --dp-primary-color: rgb(var(--v-global-theme-primary)) !important;
}

.dp__calendar {
  min-block-size: 15em !important;
}

:root {
  --dp-border-radius: 0.3em !important;
  --dp-button-height: 41px !important;
}

.v-input--density-compact .v-field--variant-outlined,
.v-input--density-compact .v-field--single-line,
.v-input--density-compact .v-field--no-label {
  --v-field-padding-bottom: 1px !important;
}

.custom-select {
  border: 1px solid rgba(var(--v-border-color), 0.5);
  border-radius: 0.5em;
  min-inline-size: 7em;
  padding-block: 0.3em;
  padding-inline: 0.5em;
  text-align: center;
}

.custom-select:active {
  border: 1px solid rgba(var(--v-border-color), 1);
}
