// Write your overrides

.v-field__outline {
  --v-field-border-opacity: 0.78 !important;
}

.v-field__input {
  opacity: inherit !important;
}

.v-label {
  opacity: inherit !important;
}

.v-field__input::placeholder {
  opacity: inherit !important;
}

.v-card-subtitle {
  color: rgb(var(--v-theme-on-background));
}

.v-table.v-theme--light {
  color: #000 !important;
}

.list-square {
  padding-block: 0;
  padding-inline: 6px !important;
  text-align: center !important;
}

.edit-link {
  color: rgb(var(--v-global-theme-primary)) !important;
  cursor: pointer;
  text-decoration: underline;
}

.edit-link:hover {
  font-weight: 900;
}

.check-label {
  display: flex;
}

.check-label > .v-input__control > .v-selection-control > .v-label {
  font-size: 0.85rem;
  font-weight: bold;
}
