// Write your overrides

.v-field__outline {
  --v-field-border-opacity: 0.78 !important;
}

.v-field__input {
  opacity: inherit !important;
}

.v-label {
  opacity: inherit !important;
}

.v-field__input::placeholder {
  opacity: inherit !important;
}
