// Write your overrides

.v-field__outline {
  --v-field-border-opacity: 0.78 !important;
}

.v-field__input {
  opacity: inherit !important;
}

.v-label {
  opacity: inherit !important;
}

.v-card-subtitle {
  color: rgb(var(--v-theme-on-background));
}

.v-table.v-theme--light {
  color: #000 !important;
}

.list-square {
  font-size: 0.875rem !important;
  padding-block: 0;
  padding-inline: 6px !important;
  text-align: center !important;
}

.edit-link {
  color: rgb(var(--v-global-theme-primary)) !important;
  cursor: pointer;
  text-decoration: underline;
}

.edit-link:hover {
  font-weight: 900 !important;
}

.check-label {
  display: flex !important;
}

.check-label > .v-input__control > .v-selection-control > .v-label {
  font-size: 0.85rem !important;
  font-weight: bold !important;
}

th {
  font-weight: bold !important;
}

.v-table {
  --v-table-header-height: 48px !important;
}

.pg-cancel {
  background: linear-gradient(72.47deg, rgb(255, 70, 70) 22.16%, rgba(rgb(255, 70, 70), 0.7) 76.47%);
  box-shadow: 0 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 20%)), 0 2px 2px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 14%)), 0 1px 5px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 12%));
  color: white;
}
